# Grafana Environment Variables
# Copy this file to .env.grafana and fill in real values

GF_SECURITY_ADMIN_PASSWORD = your-admin-password
GF_SECURITY_ADMIN_USER = admin
GF_USERS_ALLOW_SIGN_UP = false
